<h1>New Part</h1>

<%= bootstrap_form_with model: @part, method: :post, url: parts_path, data: { turbo: false } do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :brand %>
    <%= f.number_field :price %>

    <%= f.select :year, (2000..Time.current.year).to_a.reverse, { prompt: 'Select year' } %>
    <%= f.select :category, Part::CATEGORIES, { prompt: 'Select a category' } %>
    <%= f.text_area :description, size: "30x10"  %>
    <%= f.submit %>
<% end %>

<%= link_to 'Back', parts_path, class: "btn btn-secondary" %>