<h1>New Build Item</h1>

<%# <%= form_with(model: @build_parts_path, method: :post, local: true) do |f| %>

<%= bootstrap_form_with model: @build_item, method: :post, url: build_build_items_path(@build), data: { turbo: false } do |f| %>
    <%= f.collection_select :part_id, Part.all, :id, :name %>
    <%= f.number_field :quantity %>
    <%= f.select :slot, ['GPU', 'CPU', 'Motherboard', 'Memory', 'Storage', 'CPU Cooler', 'PSU'], { include_blank: true } %>
    <%= f.submit %>
<% end %>

<%= link_to 'Back', build_build_items_path(@build), class: "btn btn-secondary" %>